.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    padding: 0;
    margin: 0;
}
body{
     display: flex;
     justify-content: center;
     align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
      
}
.container{
    background-color: hsl(0, 0%, 12%) ;
    color: hsl(0, 0%, 100%);
    text-align: center;
    height: 555px;
    width: 340px;
    border-radius: 10px;
   
}
.profile-wrapper img{
border-radius: 50%;
margin-top: 18px;
margin-bottom: 10px;
}
.profile-wrapper h1 {
    margin-bottom: 8px;
  
}
.profile-wrapper span{
    color: hsl(75, 94%, 57%);
    
}
.profile-wrapper p{
margin: 29px 0 18px 0;

}
main ul li{
    list-style: none;
    width: 260px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 8px;
}
main ul li:hover{
background-color: hsl(75, 94%, 57%);
cursor: pointer;
color: black;
}